/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-menubar-submenu {
    right: 0 !important;
    margin-right: 0.75rem !important;
    margin-top: 0.5rem !important;
}